{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<section class="news-details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6">
        <div class="card p-5" style="border-radius: 1px;">
          <div class="comment-form">
            <h3 class="comment-form__title">Register a Service</h3>
            <form method="POST" class="comment-one__form">
              {% csrf_token %}
              <div class="col-xl-12">
                <div class="comment-form__input-box">
                  {{ form.category|as_crispy_field }}
                </div>
            </div>
           
                    <div class="col-xl-12">
                    <div class="comment-form__input-box">
                        {{ form.name|as_crispy_field }}
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="comment-form__input-box">
                        {{ form.icon|as_crispy_field }}
                        <small class="disabled">service icon Size:370X173 px</small>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="comment-form__input-box">
                        {{ form.description|as_crispy_field }}
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="comment-form__input-box">
                        {{ form.price|as_crispy_field }}
                    </div>
                </div>
             
             
              <div class="form-group">
                <button type="submit" class="thm-btn comment-form__btn">submit
                  </button>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
