{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="row mt-3" style="margin-bottom: 400px !important;">
    <div class="container">
        {% if categories %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Banner</th>
                    <th>Description</th>
                    <th>Actions</th>  <!-- New column for actions -->
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td><img src="{{ category.banner.url }}" alt="{{ category.name }} Banner" style="max-width: 100px;"></td>
                    <td>{{ category.description }}</td>
                    <td><a class="btn btn-primary" href="{% url 'office:service_detail' category_id=category.id %}">View Services</a></td>  <!-- Link to service detail -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2>No Service Categories Available</h2>
        {% endif %}

        <h3 class="news-one__title">
            <a class="btn btn-primary text-white" href="{% url 'service:create_service_category' %}">Add Service Category</a>
        </h3>
    </div>
</div>
{% endblock content %}
