{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<section class="page-header">
    <div class="page-header-bg" style="background-image: url({{ school.banner.url }})">
    </div>
    <div class="page-header-bg-overly"></div>
    <div class="page-header-shape wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms"
        style="background-image: url(assets/images/shapes/page-header-shape.png)"></div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="/">Home</a></li>
                <li><span>/</span></li>
                <li>Contact Us</li>
            </ul>
            <h2>Jomotech computer College and Cyber Services</h2>
        </div>
    </div>
</section>
<section class="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="contact-page__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Contact with us</span>
                        <h2 class="section-title__title">Write Message to Jomotech</h2>
                    </div>
                    <p class="contact-page__text">Leave us a Message and we will get back to you as soon as possible</p>
                    <div class="contact-page__social-list">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8">
                <div class="contact-page__right">
                    <form action="" class="comment-one__form contact-form-validated"
                        novalidate="novalidate">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="text" placeholder="Full Name" name="name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="email" placeholder="Email Address" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="comment-form__input-box">
                                    <textarea name="message" placeholder="Write Message"></textarea>
                                </div>
                                <button type="submit" class="thm-btn comment-form__btn">Send a message</button>
                            </div>
                        </div>
                    </form>
                    <div class="result"></div><!-- /.result -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-details">
    <div class="container">
        <div class="contact-details__inner">
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <div class="contact-details__single">
                        <div class="contact-details__icon">
                            <span class="icon-map"></span>
                        </div>
                        <div class="contact-details__content">
                            <p class="contact-details__sub-title">Visit Any of our Branches</p>
                            <h5>Jomotech Total, Jomotech Quickmart, or Jomotech Round about at Ruaka</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="contact-details__single contact-details__single-2">
                        <div class="contact-details__icon">
                            <span class="icon-email-1"></span>
                        </div>
                        <div class="contact-details__content">
                            <p class="contact-details__sub-title">Send Email</p>
                            <h4><a href="mailto:info@jomotech.co.ke">info@jomotech.co.ke</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="contact-details__single contact-details__single-3">
                        <div class="contact-details__icon">
                            <span class="icon-phone-call"></span>
                        </div>
                        <div class="contact-details__content">
                            <p class="contact-details__sub-title">Call Anytime</p>
                            <h4><a href="+254 795 335796">+254 795 335796</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-page-google-map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.731535397572!2d36.76350068757908!3d-1.207112677425025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f22b36e1fe5f9%3A0xea7d820876f42a71!2sRuaka!5e0!3m2!1sen!2ske!4v1713224208810!5m2!1sen!2ske"
        
        class="contact-page-google-map__one" allowfullscreen></iframe>

</section>
{% endblock content %}
