{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<section class="page-header">
    <div class="page-header-bg" style="background-image: url('{{ category.banner.url }}')"></div>

    <div class="page-header-bg-overly"></div>
    <div class="page-header-shape wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms"
    style="background-image: url({% static 'main/images/shapes/page-header-shape.png' %})"></div>
        
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="/">Home</a></li>
                <li><span>/</span></li>
                <li>Products</li>
            </ul>
            <h2>{{category.name}}</h2>
        </div>
    </div>
</section>
{% if products %}

<section class="project-two project-page">
    <div class="container">
        <div class="row">
           {% for product in products %}
           <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="600ms">
            <!--Project One Single-->
            <div class="project-one__single">
                <div class="project-one__img">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
                <div class="project-one__content">
                    <p class="project-one__tagline">Ksh. {{product.price}}</p>
                    <h2 class="project-one__title"><a href="">{{product.name}}</a></h2>
                    <div class="project-one__arrow">
                        <a href="project-details.html"><span class="icon-right-arrow"></span></a>
                    </div>
                </div>
            </div>
        </div>
           {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% endblock content %}
